name: Bundle Analysis

on:
  workflow_call:

permissions: {}

env:
  CI: 1
  TURBO_TELEMETRY_DISABLED: 1
jobs:
  build:
    runs-on: lynx-ubuntu-24.04-medium
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        project:
          - path: ./examples/react
            name: example-react
          - path: ./packages/web-platform/web-explorer
            name: web-explorer
          - path: ./packages/rspeedy/core
            name: rspeedy
    name: Build ${{ matrix.project.name }}
    if: github.event_name != 'merge_group'
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version: "24"
          package-manager-cache: false
      - name: TurboCache
        uses: lynx-infra/cache@5c6160a6a4c7fca80a2f3057bb9dfc9513fcb732
        with:
          path: .turbo
          # We have to be strict here to make sure getting the cache of build-all
          key: turbo-v4-${{ runner.os }}-${{ hashFiles('**/packages/**/src/**/*.rs') }}-${{ github.sha }}
          fail-on-cache-miss: true
      - name: Install
        run: |
          npm install -g corepack@latest
          corepack enable
          pnpm install --frozen-lockfile
      - name: Build
        run: |
          pnpm turbo build --summarize
      - name: Build ${{ matrix.project.name }}
        env:
          RSPEEDY_BUNDLE_ANALYSIS: 1
        run: |
          pnpm --filter ${{ matrix.project.path }} run build
      - uses: relative-ci/agent-upload-artifact-action@a2b5741b4f7e6a989c84ec1a3059696b23c152e5 #v2
        with:
          artifactName: ${{ matrix.project.name }}-relative-ci-artifacts
          webpackStatsFile: ${{ matrix.project.path }}/dist/stats.json
