on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: false
      LHCI_GITHUB_APP_TOKEN:
        required: false
    inputs:
      runs-on:
        required: true
        type: string
      run:
        required: true
        type: string
        description: "Command run parameters, limited to predefined test commands"
      is-web:
        required: false
        type: boolean
        default: false
      codecov-flags:
        required: false
        type: string
        default: "unittest"

# Set minimum permissions to prevent unnecessary access
permissions: {}

env:
  CI: 1
  TURBO_TELEMETRY_DISABLED: 1
jobs:
  check:
    runs-on: ${{ inputs.runs-on }}
    permissions: {}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          # Codecov requires fetch-depth: 0
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: "22"
      - name: TurboCache
        uses: lynx-infra/cache@558d7c999f9f97ac02ed7e711503bb81d82ff8ee
        with:
          path: .turbo
          # We have to be strict here to make sure getting the cache of build-all
          key: turbo-v3-${{ hashFiles('**/packages/**/src/**/*.rs') }}-${{ github.sha }}
          fail-on-cache-miss: true
      - name: Install
        run: |
          npm install -g corepack@latest
          corepack enable
          pnpm install --frozen-lockfile
      - name: Build
        run: |
          pnpm turbo build --summarize
      - uses: ./.github/actions/setup-playwright
        if: ${{ inputs.is-web }}
        with:
          working-directory: packages/web-platform/web-tests
      - name: Test # zizmor: ignore[template-injection] The inputs.run is provided by us.
        id: test
        env:
          NODE_OPTIONS: --max-old-space-size=8192
          GITHUB_SHA: ${{ github.event.pull_request.head.sha }}
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
        run: ${{ inputs.run }}
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24 # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: ${{ inputs.codecov-flags }}
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@f2dba722c67b86c6caa034178c6e4d35335f6706 # v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: ${{ inputs.codecov-flags }}
          override_branch: ${{ github.event_name == 'merge_group' && 'main' || '' }}
      - name: Upload Test Result
        if: ${{ inputs.is-web && failure() }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: playwright-report
          path: packages/web-platform/web-tests/playwright-report
          if-no-files-found: error
          retention-days: 1
          overwrite: true
          include-hidden-files: true
